{% extends "layout.html" %}
{% block body %}
<h1>회원 연락처 추가</h1>
<form class="ui form add-member-form" action = "{{ url_for('add_proccess') }}" method = "POST">
  <div class="field">
    <label>이름</label>
    <input type="text" name="name" placeholder="이름을 입력하세요(필수)" required>
  </div>
  <div class="field">
    <label>나이</label>
    <input type="number" name="age" placeholder="나이를 입력하세요(선택)">
  </div>
  <div class="field">
    <label>이메일</label>
    <input type="text" name="email" placeholder="이메일을 입력하세요(선택)">
  </div>
  <div class="field">
    <label>전화번호</label>
    <input type="text" name="phone" placeholder="전화번호를 입력하세요(필수)" required>
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
{% endblock %}
